/*solution for carousel image fitting*/
/*source https://raybo.org/posts/2021-03-27-consistent-height-carousels-with-css-gradients-by-hacking-the-bootstrap-5-carousel/*/
.carousel-inner .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 80vh;
    overflow: hidden;
}

/*linear gradient makes carousel captions and controls easy to see*/
/*source https://raybo.org/posts/2021-03-27-consistent-height-carousels-with-css-gradients-by-hacking-the-bootstrap-5-carousel/*/
.carousel-inner .carousel-item:before {
    content: "";
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
}

